<p>Por Pais</p>
<hr>
<div class="row">
    <div class="col">
        <app-busqueda
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias( $event )"
        [placeholder]="placeholder"
        >
        </app-busqueda>
    </div>
</div>
<hr>
<div class="alert alert-danger" *ngIf="hayError">
    no se encontro nada con el Termino {{ termino }}
</div>

<div class="row animate__animated animate__fadeIn" *ngIf="respuesta.length > 0">
    <div class="col">
        <app-listado [paises]="respuesta"></app-listado>
    </div>
</div>