<div class="row container mt-4">

    <div class="col-4 col-md-3">
        <h2>Busquedas</h2>
        <hr>
        <ul class="list-group">
            <li
                routerLink=""
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}"
                class="list-group-item"
            >Pais
            </li>
            <li
                routerLink="region"
                routerLinkActive="active" 
                class="list-group-item"
            >Region
            </li>
            <li
                routerLink="capital"
                routerLinkActive="active" 
                class="list-group-item"
            >Capital
            </li>
            <li
                routerLink="moneda"
                routerLinkActive="active" 
                class="list-group-item"
            >Moneda
            </li>
            <li
                routerLink="idioma"
                routerLinkActive="active" 
                class="list-group-item"
            >Idioma
            </li>
        </ul>
    </div>
    <div class="col col-md-9 col-xs-6">
        <h2>Por Capital</h2>
        <hr>
        <app-por-capital></app-por-capital>
    </div>

</div>